@font-face {
  font-family: 'Bebas';
  src: url('../fonts/Bebas.woff2') format('woff2'), url('../fonts/Bebas.woff') format('woff'), url('../fonts/Bebas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.woff2') format('woff2'), url('../fonts/HelveticaNeue.woff') format('woff'), url('../fonts/HelveticaNeue.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Light.woff2') format('woff2'), url('../fonts/HelveticaNeue-Light.woff') format('woff'), url('../fonts/HelveticaNeue-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: 'HelveticaNeue', sans-serif;
  font-weight: 400;
  font-size: 12px;
  background-color: #fdfdfd;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 960px;
  width: 100%;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 79px;
}

.header__menu {
  min-height: 18px;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  display: inline-block;
}

.menu__item+.menu__item {
  margin-left: 24px;
}

.menu__link {
  font-family: 'Bebas', sans-serif;
  font-size: 16px;
  color: #b9b9b9;
  transition: color .5s;
}

.menu__link--active, .menu__link:hover {
  color: #e8663c;
}

.header__menu-btn {
  display: none;
  width: 35px;
}

.header__menu-line {
  margin-bottom: 4px;
  width: 100%;
  height: 5px;
  background-color: #e8663c;
}

.ears {
  display: flex;
}

.ears::before, .ears::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #f3af9d;
  flex: 1 0 0;
}

.slider::before, .slider::after {
  height: 62px;
}

.slider__inner {
  position: relative;
  width: 100%;
  margin-top: 0;
  margin-bottom: 15px;
}

.slider__item {
  position: relative;
}

.slider__info {
  position: absolute;
  bottom: 32px;
  left: 36px;
  max-width: 413px;
  min-height: 125px;
  padding: 20px 29px 25px 20px;
  color: #fff;
  background-color: rgba(232, 102, 60, 0.8);
}

.slider__heading {
  margin-top: 0;
  margin-bottom: 22px;
  font-family: 'Bebas', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.slider__wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 400px; */
  width: 100%;
}

.slider__img {
  width: 100%;
  height: 400px;
}

.slider__nav-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-height: 120px;
  cursor: pointer;
  transition: transform .5s;
}

.slider__nav-img:hover, .work:hover {
  transform: scale(1.2);
}

.slider__nav .slick-slide {
  max-width: 140px;
}

.slider__nav .slick-track .slick-slide+.slick-slide {
  margin-left: 20px;
}

.slick-arrow {
  position: absolute;
  z-index: 1;
  width: 36px;
  height: 52px;
  top: 155px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.slick-prew {
  left: 21px;
}

.slick-next {
  right: 28px;
}

.slick-next:focus, .slick-prew:focus {
  outline-width: 0;
}

.items {
  padding: 35px 0 47px;
}

.items__inner {
  display: flex;
  justify-content: space-between;
}

.item {
  max-width: 275px;
  margin-right: 24px;
}

.item__title {
  position: relative;
  padding-left: 70px;
  margin-bottom: 30px;
  font-family: 'Bebas', sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #e8663c;
  background-repeat: no-repeat;
}

.item__title::before {
  content: "";
  top: 0;
  left: 0;
  width: 49px;
  height: 46px;
}

.item__title--icon-1 {
  background-image: url(../images/item-1.svg);
}

.item__title--icon-2 {
  background-image: url(../images/item-2.svg);
}

.item__title--icon-3 {
  background-image: url(../images/item-3.svg);
}

.item__text {
  margin-bottom: 21px;
  line-height: 18px;
  color: #414141;
}

.item__text-link {
  display: none;
}

.item__text-more {
  color: #e8663c;
}

.item__link {
  font-family: 'Bebas', sans-serif;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #e8663c;
  color: #fff;
  padding: 9px 15px 6px 13px;
  transition: background-color 1s;
}

.item__link:hover {
  background-color: #B22222;
}

.works__title {
  margin-bottom: 23px;
  font-family: 'Bebas', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #e8663c;
  background-image: url(../images/line.jpg);
}

.works__title-text {
  display: inline-block;
  padding-right: 22px;
  background-color: #fff;
}

.works__inner {
  margin-bottom: 50px;
}

.works__inner-item {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.work {
  max-width: 220px;
  transition: transform .5s;
  overflow: hidden;
}

.work__img {
  max-width: 100%;
}

.work__text {
  padding: 8px 13px;
  margin-top: -3px;
  font-family: 'Bebas', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  color: #b9b9b9;
  line-height: 18px;
  border: 1px solid #dbdbdb;
  border-top: none;
}

.work__date {
  margin-bottom: 5px;
  font-size: 11px;
  font-weight: 700;
  color: #e8663c;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 38px 40px 32px 36px;
  background-color: #e8663c;
}

.footer__item {
  max-width: 268px;
  color: #fff;
}

.footer__item--widget {
  max-width: 218px;
}

.footer__title {
  margin-bottom: 25px;
  font-family: 'Bebas', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}

.footer__text {
  line-height: 14px;
  margin-bottom: 18px;
}

.footer__link {
  font-weight: 300;
  color: #ef9e84;
  transition: color .5s;
}

.footer__address {
  font-style: normal;
}

.footer__link--ago, .footer__connection {
  display: block;
}

.footer__connection {
  color: #fff;
}

.footer__item--contact {
  padding-left: 13px;
}

.footer__social {
  margin-top: 18px;
  padding: 0;
  list-style: none;
}

.footer__social-link {
  padding-right: 2px;
}

.footer__link--ago {
  margin: 7px 0 17px;
}